<?php

$finder = PhpCsFixer\Finder::create()
                           ->in([__DIR__ . '/src', __DIR__ . '/tests/unit']);

return PhpCsFixer\Config::create()
                        ->setRules(
                            [
                                '@PSR2' => true,
                                'strict_param' => true,
                                'array_syntax' => ['syntax' => 'short'],
                            ]
                        )
                        ->setCacheFile(__DIR__ . '/.php_cs.cache')
                        ->setFinder($finder);